src/wadl/cbd-devguide.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved  -->

<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common/common.ent">
    %common;
    
    
]>


<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:wadl="http://wadl.dev.java.net/2009/02"
	         xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	         xmlns:raxapi="http://docs.rackspace.com/volume/api/v1"
	         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	         xmlns:cbd="http://docs.openstack.org/database/api/v1.0"
	         xmlns:clusters="http://docs.openstack.org/database/api/v1.0">
	
	
<!--*******************************************************-->
<!-- GRAMMARS                                              -->
<!--*******************************************************-->
	
<!-- What do I need here for Cloud Big Data Dev Guide? 
	<grammars>
		<include href="../common/xsd/api.xsd"/> (identity grammars)
		<include href="../common/xsd/api-common.xsd"/> (identity grammars)
		<include href="dbaas.xsd" /> (databases grammars)
	</grammars>
-->
	
<!--*******************************************************-->
<!-- ALL RESOURCES                                         -->
<!--*******************************************************-->	
	
<resources base="https://dfw.bigdata.api.rackspacecloud.com/" xml:id="bigdata-v1">
	<resource id="version" path="/">

		<resource id="profiles" path="profile">
			<method href="#postProfile" />
			<method href="#getProfile" />
		</resource>
		
		<resource id="clusters" path="clusters">
			<method href="#createCluster" />	
			<method href="#getClusters" />

			<resource id="cluster" path="{clusterId}">
				<param name="clusterId" style="template" type="xsd:string">
					<doc>Specifies the cluster ID.</doc></param>
				<method href="#getClusterDetails" />
				<method href="#deleteCluster" />
				
				<resource id="action" path="action">
					<method href="#postClusterAction" />
				</resource>
				<resource id="nodes" path="nodes">
					<method href="#getClusterNodes" />
				
				    <resource id="node" path="{nodeId}">
					    <param name="nodeId" style="template" type="xsd:string">
					    	<doc>Specifies the node ID.</doc></param>
					    <method href="#getNodeDetails" />
				    </resource>
				</resource>	
			</resource>
		</resource>
	</resource> 

	<resource id="flavorsVersion" path="/">
		<resource id="flavors" path="flavors">
			<method href="#getFlavors" />
			<resource id="flavor" path="{flavorId}">
				<param name="flavorId" style="template" type="xsd:string">
					<doc>Specifies the flavor ID.</doc></param>
				<method href="#getFlavorDetails" />
				<resource id="flavorsSupportedType" path="types">
					<method href="#getSupportedClusterTypesByFlavor" />
				</resource>
			</resource>
		</resource>
	</resource>

	<resource id="typeVersion" path="/">
		<resource id="types" path="types">
			<method href="#getClusterTypes" />
			<resource id="type" path="{typeId}">
				<param name="typeId" style="template" type="xsd:string">
					<doc>Specifies the type ID.</doc></param>
				<method href="#getClusterTypeDetails" />
				<resource id="flavorsType" path="flavors">
					<method href="#getSupportedFlavorsForType" />
				</resource>
			</resource>
		</resource>
	</resource>
	
	<resource id="limitVersion" path="/">
		<resource id="limits" path="limits">
			<method href="#viewResourceLimits" />
		</resource>
	</resource>	
</resources> 
	
	
<!--*******************************************************-->
<!-- ALL METHODS                                           -->
<!--*******************************************************-->

<!--*******************************************************-->
<!-- PROFILE METHODS                                       -->
<!--*******************************************************-->	
	
	<!--*******************************************************-->	
	<!-- Create/Update Profile: postProfile                    -->	  
	<!--*******************************************************-->
	
	<method name="POST" id="postProfile">
		<wadl:doc xml:lang="EN" title="Create or Update Profile" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Creates a profile or updates the information in an existing profile.</para> 
			<para>The 400 error code might indicate malformed data or unacceptable parameters.</para>
			<para>This operation creates a profile or updates the information in an existing profile.</para>		
	<note><para>You must create your profile before you create a cluster. </para></note>
		</wadl:doc>
		<request>
			<representation mediaType="application/json" element="clusters:cluster" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_postProfile_request.json"/>
				</doc>
			</representation>
		</request>
		<response status="200">		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_postProfile_response.json"/>
				</doc>
			</representation>
		</response>
		&fourhundred;
	</method>	

	<!--*******************************************************-->	
	<!-- View Profile Information: getProfile                         -->	  
	<!--*******************************************************-->
	
	<method name="GET" id="getProfile">
		<wadl:doc xml:lang="EN" title="View Profile Information" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Returns detailed profile information for the current user.</para> 
			<para>This operation returns detailed profile information for the current user.</para>	
		</wadl:doc>
        <response status="200">		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getProfile_response.json"/>
				</doc>
			</representation>
		</response>
	</method>
	

	<!--*******************************************************-->
	<!-- CLUSTER METHODS                                       -->
	<!--*******************************************************-->	
	
    <!--*******************************************************-->	
    <!-- Create Cluster: createCluster                         -->	  
    <!--*******************************************************-->
	
		<method name="POST" id="createCluster">
			<wadl:doc xml:lang="EN" title="Create Cluster" xmlns="http://docbook.org/ns/docbook">
				<para role="shortdesc">Creates a new cluster.</para> 				
				<para>The 400 error code might indicate any of the following issues:</para>
				<itemizedlist spacing="compact"><listitem><para>The response boady is invalid.</para></listitem><listitem><para>You need to create a user profile.</para></listitem><listitem><para>The node count is invalid.</para></listitem><listitem><para>The flavor is invalid.</para></listitem><listitem><para>The data is malformed.</para></listitem></itemizedlist>
				<para>The 413 error code might indicate that the resource limit is exceeded.</para>
				<para>This operation creates a new cluster. </para>	
				<note><para>You must create your profile before you create a cluster.</para></note>
				<para>The postInitScript input parameter specifies a URL that downloads a script that runs after the cluster is created. The status of the run is shown in the response by the postInitScriptStatus output parameter.</para>
			</wadl:doc>
			<request>
				<representation mediaType="application/json" element="clusters:cluster" >
					<doc>
						<xsdxt:code href="../wadl/samples/dg_cbd_createCluster_request.json"/>
					</doc>
				</representation>
			</request><response status="200">		
				<representation mediaType="application/json" >
					<doc>
						<xsdxt:code href="../wadl/samples/dg_cbd_createCluster_response.json"/>
					</doc>
				</representation>
			</response>
			&fourhundred;	
			&fourthirteen;
		</method>
	
    <!--*******************************************************-->
    <!-- List All Clusters: listClusters                       -->	
    <!--*******************************************************-->	

	<method name="GET" id="getClusters" >
		<wadl:doc xml:lang="EN" title="List All Clusters" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Lists all the clusters for your account.</para> 
			<para>This operation lists all the clusters for your account.</para>	
		</wadl:doc>
		<response status="200">		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_listClusters_response.json"/>
				</doc>
			</representation>
		</response>
	</method>
	
    <!--*******************************************************-->	
	<!-- Get Cluster Details: getClusterDetails                -->
    <!--*******************************************************-->
	
	<method name="GET" id="getClusterDetails">
		<wadl:doc xml:lang="EN" title="Get Cluster Details" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Returns details for the specified cluster.</para> 
			<para>This operation returns details for the cluster that is identified by <code>clusterId</code>.</para>	
		</wadl:doc>
		<request>
			<representation mediaType="application/json" element="clusters:cluster" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getClusterDetails_request.json"/>
				</doc>
			</representation>
		</request>
			<response status="200">		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getClusterDetails_response.json"/>
				</doc>
			</representation>
		   </response>
		&fourofour;
	</method>
	
	<!--*******************************************************-->	
	<!-- Delete Cluster: deleteCluster                         -->
	<!--*******************************************************-->
	
	<method name="DELETE" id="deleteCluster">
		<wadl:doc xml:lang="EN" title="Delete Cluster" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Deletes the specified cluster.</para> 
			<para>The 400 error code might indicate missing or invalid parameters.</para> 
			<para>The 409 error code might indicate an invalid state.</para>
			<para>This operation deletes the cluster that is specified by <code>clusterId</code>.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json" element="clusters:cluster" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_deleteCluster_request.json"/>
				</doc>
			</representation>
		</request>
		<response status="204">		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_deleteCluster_response.json"/>
				</doc>
			</representation>
		</response>
		&fourhundred;
		&fourofour;
		&fouronine;
	</method>
	
    <!--*******************************************************-->						
	<!-- Resize Cluster: postClusterAction                      -->
    <!--*******************************************************-->
	
	<method name="POST" id="postClusterAction">
		<wadl:doc xml:lang="EN" title="Resize Cluster" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Resizes the specified cluster. </para>  
			<para>The 400 error code might indicate the presence of unacceptable parameters or malformed data.</para>
			<para>The 409 error code might indicate an invalid state.</para>
			<para>This operation resizes the cluster specified by <code>clusterId</code>.  </para>
		</wadl:doc>
		<request>		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_resizeCluster_request.json"/>
				</doc>
			</representation>
		</request>
		<response status="200">		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_resizeCluster_response.json"/>
				</doc>
			</representation>
		</response>
		&fourhundred;
		&fourofour;
		&fouronine;
	</method>
	
	<!--*******************************************************-->	
	<!-- NODE METHODS                                          -->
	<!--*******************************************************-->		
		
    <!--*******************************************************-->						
	<!-- List Cluster Nodes: getClusterNodes                   -->
    <!--*******************************************************-->
	
	<method name="GET" id="getClusterNodes">
		<wadl:doc xml:lang="EN" title="List Cluster Nodes" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Lists all nodes for the specified cluster. </para>  
			<para>This operation lists all nodes for the cluster specified by <code>clusterId</code>clusterId. </para>
		</wadl:doc>
		<request>		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getClusterNodes_request.json"/>
				</doc>
			</representation>
		</request>
		<response status="200">		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getClusterNodes_response.json"/>
				</doc>
			</representation>
		</response>
		&fourofour;
	</method>

    <!--*******************************************************-->						
	<!-- Get Node Details: getNodeDetails                      -->
    <!--*******************************************************-->
	
	<method name="GET" id="getNodeDetails">
		<wadl:doc xml:lang="EN" title="Get Node Details" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Returns details for the specified node in the specified cluster. </para>  
			<para>This operation returns details for the node specified by <code>nodeId</code> in the cluster specified by <code>clusterId</code>.</para>
		</wadl:doc>							
		<request>
			<representation mediaType="application/json" element="clusters:Cluster" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getNodeDetails_request.json"/>
				</doc>
			</representation>
		</request>
		<response status="200">
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getNodeDetails_response.json"/>
				</doc>
			</representation>	
		</response>
		&fourofour;
	</method>
	
	<!--*******************************************************-->	
	<!-- FLAVORS METHODS                                       -->
	<!--*******************************************************-->			
 	
    <!--*******************************************************-->						
    <!-- List Available Flavors: getFlavors                    -->
    <!--*******************************************************-->
	
	<method name="GET" id="getFlavors">
		<wadl:doc xml:lang="EN" title="List Available Flavors" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Lists all available flavors.</para>  
			<para>This operation lists all available flavors, including the drive size and amount of RAM. </para>
		</wadl:doc>
		<response status="200">
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getFlavors_response.json"/>
				</doc>
			</representation>	
		</response>
	</method>

    <!--*******************************************************-->						
    <!-- List Flavor Details: getFlavorDetails                 -->
    <!--*******************************************************-->		
	
	<method name="GET" id="getFlavorDetails">
		<wadl:doc xml:lang="EN" title="List Flavor Details" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Lists the details for the specified flavor. </para>  
			<para>This operation lists the details for the flavor that is specified by flavorId. </para>
		</wadl:doc>
		<response status="200">
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getFlavorDetails_response.json"/>
				</doc>
			</representation>	
		</response>
		&fourofour;
	</method>
	
	<!--*********************************************************************************-->						
	<!-- List Supported Cluster Types for a Flavor: getSupportedClusterTypesByFlavor     -->
	<!--*********************************************************************************-->		
	
	<method name="GET" id="getSupportedClusterTypesByFlavor">
		<wadl:doc xml:lang="EN" title="List Supported Cluster Types for a Flavor" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Lists the supported cluster types for the specified flavor. </para>  
			<para>This operation lists the supported cluster types for the flavor that is specified by flavorId.  </para>
		</wadl:doc>
		<response status="200">
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getSupportedClusterTypesByFlavor_response.json"/>
				</doc>
			</representation>	
		</response>
		&fourofour;
	</method>
	
    <!--*******************************************************-->	
    <!-- TYPE METHODS                                          -->
    <!--*******************************************************-->		
	
    <!--*******************************************************-->						
	<!-- List Cluster Types: getClusterTypes                          -->
    <!--*******************************************************-->
	
	<method name="GET" id="getClusterTypes">
		<wadl:doc xml:lang="EN" title="List Cluster Types" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Returns a list of cluster types. </para>  
			<para>This operation returns a list of cluster types. </para>
		</wadl:doc>
		<response status="200">		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getClusterTypes_response.json"/>
				</doc>
			</representation>
		</response>
	</method>
	
    <!--*******************************************************-->						
	<!-- List Cluster Type Details: getClusterTypeDetails                        -->
    <!--*******************************************************-->
	
	<method name="GET" id="getClusterTypeDetails">
		<wadl:doc xml:lang="EN" title="List Cluster Type Details" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Returns details for the specified cluster type. </para>  
			<para>This operation returns details for the cluster type that is specified by typeId. </para>
		</wadl:doc>
		<response status="200">		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getClusterTypeDetails_response.json"/>
				</doc>
			</representation>
		</response>
		&fourofour;
	</method>	

    <!--*******************************************************************-->						
	<!-- List Supported Flavors for a Type: getSupportedFlavorsForType     -->
    <!--*******************************************************************-->
	
	<method name="GET" id="getSupportedFlavorsForType">
		<wadl:doc xml:lang="EN" title="List Supported Flavors for a Type" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Lists the supported flavors for the specified cluster type. </para>  
			<para>This operation lists the supported flavors for the cluster type that is specified by typeId. </para>
		</wadl:doc>
		<response status="200">		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_getSupportedFlavorsForType.json"/>
				</doc>
			</representation>
		</response>
		&fourofour;
	</method>	

	<!--*******************************************************-->	
	<!-- LIMITS METHODS                                        -->
	<!--*******************************************************-->		
	
	<!--*******************************************************-->						
	<!-- View Resource Limits: viewResourceLimits              -->
	<!--*******************************************************-->
	
	<method name="GET" id="viewResourceLimits">
		<wadl:doc xml:lang="EN" title="View Resource Limits" xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Displays the resource limits for the user. </para>  
			<para>This operation displays the absolute resource limits, such as remaining node count, available RAM, and remaining disk space, for the user. </para>
		</wadl:doc>
		<response status="200">		
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/dg_cbd_viewResourceLimits_response.json"/>
				</doc>
			</representation>
		</response>
	</method>

</application>
